<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/e7c15fdb77.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Alata|Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/staple/style.css">
    <title>S T A P L E</title>
</head>

<body>
    <nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'staple-index' %}"><i class="fas fa-fw fa-book"></i> S T A P L E</a>
        <form class="form-inline ml-auto">

            <div class="text-white">Hello, <strong>{{ user.username }}</strong>!</div>

            <a href="{% url 'new-packet' %}" class="btn btn-info ml-4">New Packet</a>
            <a href="{% url 'logout' %}" class="btn btn-danger ml-2">Log Out</a>

            <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Log In</a>
            <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign Up</a>

        </form>
    </nav>

    <div class="d-flex position-fixed border-right">
        <div class="list-group list-group-flush bg-dark pt-4" id="sidebar-wrapper">
            <a href="#" class="list-group-item list-group-item-action bg-info text-white mb-4">View All
                Packets</a>
            <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">Packet 1</a>
            <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">Packet 2</a>
            <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">Packet 3</a>
            <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">Packet 4</a>
            <a href="#" class="list-group-item list-group-item-action bg-secondary text-white">Packet 5</a>
        </div>
        <div class="row">
            <div class="col mx-4 border-right">
                <h2 class="mt-4">EDIT</h2>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="far fa-list-alt"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-columns"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="far fa-clipboard"></i></button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button type="button" class="btn btn-secondary"><i class="far fa-file-word"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-paperclip"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="far fa-clone"></i></button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="btn btn-secondary"><i class="fas fa-tasks"></i></button>
                        <button type="button" class="btn btn-secondary"><i class="fas fa-tools"></i></button>
                    </div>
                </div>
                <br />
                <!-- <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }}<br />
                    {{ field }}<br /><br />
                {% endfor %} -->
                <textarea id="rawText" class="mt-2" rows="21" cols="45">Not today Satan, not today!</textarea>
                <button class="btn btn-info" id="autoMagic" type="button" onclick="autoMagical()" role="button">Update
                    Preview</button>
                <!-- </form> -->
            </div>
            <div class="col my-4">
                <h2 class="mb-5">PREVIEW</h2>
                <div id="preview" class="mt-2" rows="21" cols="55">Not today Satan, not today!
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="static/staple/script.js"></script>
</body>

</html>