


{% block content %}

    <div class="container-fluid">
        <div class="jumbotron jumbo-info m-4 pb-5">
            <h1 class="display-4">YAAS, QUEEN!</h1>
            <p class="lead">{{ text }} YOU'RE IN</p>
            <hr class="my-4">
            <p>"If you have nothing nice to say, don't say anything. But if you have nothing nice to say, come sit with
                me."
            </p>
            <div class="text-right"><a class="btn btn-info btn-lg" href="#" role="button">Read the docs</a></div>
        </div>

        <div class="container">
            <h2>Templates</h2>
            <div class="card-deck mb-4">
                <div class="card">
                    <i class="far fa-sticky-note fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Charisma</h5>
                        <p class="card-text">At least I am a showgirl, botch!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="card">
                    <i class="far fa-paper-plane fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Uniqueness</h5>
                        <p class="card-text">Go back to Party City where you belong!</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-none mb-4">
                    <!-- wrap every 2 on sm & md-->
                </div>
                <div class="card">
                    <i class="far fa-newspaper fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Nerve</h5>
                        <p class="card-text">I don't jump guns, I am the boom boom gun.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info align-self-center" href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="w-100 d-none d-md-block d-lg-block mb-4">
                    <!-- wrap every 3 on md-->
                </div>
                <div class="card">
                    <i class="far fa-copy fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Talent</h5>
                        <p class="card-text">I don’t see you out there walking children in nature</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-none mb-4">
                    <!-- wrap every 2 on sm & md-->
                </div>
                <div class="card">
                    <i class="far fa-address-book fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Sickening</h5>
                        <p class="card-text">Look how ducking orange you look, girl.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="card">
                    <i class="far fa-chart-bar fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Drag</h5>
                        <p class="card-text">I'm not joking, botch.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="w-100 d-none d-sm-block d-md-block mb-4">
                    <!-- wrap every 2 on sm & md-->
                </div>
                <div class="w-100 d-none d-md-block d-lg-block mb-4">
                    <!-- wrap every 3 on md-->
                </div>
                <div class="card">
                    <i class="far fa-calendar-alt fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Horror</h5>
                        <p class="card-text">You gotta pop them corns and feed the children</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="card">
                    <i class="far fa-comment-alt fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Filth</h5>
                        <p class="card-text">No Tea, No Shade, No Pink Lemonade</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
                <div class="card">
                    <i class="far fa-edit fa-7x text-center m-4"></i>
                    <div class="card-body">
                        <h5 class="card-title">Glamour</h5>
                        <p class="card-text">Your tone seems really pointed right now.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a class="btn btn-info " href="#" role="button">Choose Template</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
{% endblock content %}
