{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    {% include 'partials/sidebar.html' %}

    <div class="flex-fill px-4 border-right">
        <h2 class="mt-4">EDIT</h2>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                <button type="button" class="btn btn-secondary"><i class="far fa-list-alt"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-columns"></i></button>
                <button type="button" class="btn btn-secondary"><i class="far fa-clipboard"></i></button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="button" class="btn btn-secondary"><i class="far fa-file-word"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-paperclip"></i></button>
                <button type="button" class="btn btn-secondary"><i class="far fa-clone"></i></button>
            </div>
            <div class="btn-group" role="group" aria-label="Third group">
                <button type="button" class="btn btn-secondary"><i class="fas fa-tasks"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fas fa-tools"></i></button>
            </div>
        </div>
        <br />
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            {{ field.label_tag }}<br />
            {{ field }}<br /><br />
            {% endfor %}
            <input class="btn btn-info" type="submit" value="Submit Document">
        </form>
        <!-- <textarea id="rawText" class="mt-2" rows="21" cols="45">Not today Satan, not today!</textarea>
            <button class="btn btn-info" id="autoMagic" type="button" onclick="autoMagical()" role="button">Update
                Preview</button> -->

    </div>
    <div class="flex-fill my-4 px-4">
        <h2 class="mb-5">PREVIEW</h2>
        <div id="preview" class="mt-2" rows="21" cols="55">
            <h4>Rolodex of Hate</h4><br /><br />
            <p>Not today Satan, not today!</p>
        </div>
    </div>
</div>


{% endblock content %}