body {
    font-family: 'Exo 2', sans-serif;
    background: rgba(167, 164, 162, 0.2);
}

.jumbotron-bg {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    /* If our image is bright, we can tone it down with this darker overlay */
    padding-top: 100px;
    padding-bottom: 100px;
}

.jumbotron-bg:after {
    content: "";
    position: absolute;
    background-image: url("/static/staple/images/paper_stack.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.8;
    /* Tone the image down further by giving it transparency */
}

.jumbo-text {
    background: rgba(255, 255, 255, 0.3);
}

h1 {
    font-family: 'Alata', sans-serif;
}

.card {
    border: 0px;
}

.container-fluid {
    margin-bottom: 2rem;
}

.blurb {
    background: rgba(255, 255, 255, 1);
    padding-top: 15px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
  }

.jumbo-info {
    background: #FFFFFF;
}

.border-right {
  border-right: 1px solid rgba(0, 0, 0, 0.4);
}