{% block content %}

<div class="jumbotron jumbotron-fluid jumbotron-bg">
    <div class="container p-5 jumbo-text">
        <h1 class="display-4">STAPLE</h1>
        <hr class="my-4">
        <p class="lead"> {{ text }} NO TOYS ALLOWED.</p>
    </div>
</div>

<div class="container">
    <div class="card-deck">
        <div class="card">
            <i class="far fa-folder fa-5x text-center p-4"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <i class="fas fa-clipboard-list fa-5x text-center p-4"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <i class="far fa-bookmark fa-5x text-center p-4"></i>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>

{% endblock content %}