{% block content %}

<div class="jumbotron jumbotron-fluid jumbotron-bg">
    <div class="container p-5 jumbo-text">
        <h1 class="display-4">STAPLE</h1>
        <hr class="my-4">
        <p class="lead"> {{ text }} NO TOYS ALLOWED.</p>
        <p class="text-right"><button type="button" class="btn btn-info btn-lg">MAKE A PACKET NOW</button></p>
    </div>
</div>

<div class="container-fluid">
    <div class="card-deck">
        <div class="card col-sm-4">
            <i class="far fa-folder fa-5x text-center pt-4"></i>
            <div class="card-body">
                <h4 class="card-title text-center">Organize</h4>
                <p class="card-text"><i>I'm Roxxxy Andrews and I'm here to make it clear,</i> I know you love me, baby,
                    that's why you brought me here. Was a botch on Season 5, I'm gonna make it right; Give me a sewing
                    challenge and I'll give you what you like.</p>
            </div>
        </div>
        <div class="card col-sm-4">
            <i class="fas fa-clipboard-list fa-5x text-center pt-4"></i>
            <div class="card-body">
                <h4 class="card-title text-center">Track</h4>
                <p class="card-text">I'm full of tricks, baby, just like on Halloween.. A room full of monsters and it
                    makes me wanna scream. I have to get this right so you don't waste your time, not like my comedy,
                    I'm killing on this rhyme.</p>
            </div>
        </div>
        <div class="card col-sm-4">
            <i class="far fa-bookmark fa-5x text-center pt-4"></i>
            <div class="card-body">
                <h4 class="card-title text-center">Save</h4>
                <p class="card-text">I'm gonna show you what I can do. You're going crazy and seeing two. It's not my
                    fault, you can't blame my game. <i>All these other hoes, but they're all the same.</i></p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center p-4 blurb">
    <div class="col-3 text-center align-self-center"><i class="far fa-thumbs-up fa-10x"
            style="color:rgb(0, 0, 75);"></i></div>
    <div class="col-6">
        <p>"You're perfect, you're beautiful, you look like Linda Evangelista, you're a model! Everything about you is
            perfect! Did you stone those tights? Oh, you're smiling!" They eat her up EVERY SINGLE TIME she's on that
            damned
            stage."
        </p>
        <p>She could walk out there in a ducking diaper and they'd be like, <strong><i>'Valentina! Your smile is
                    beautiful!'"</strong></i>
        </p>
    </div>
</div>
<footer class="page-footer font-small sticky-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 pt-5 pb-2">
                    <div class="mb-5 text-center">
                        <a class="fb-ic">
                            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="tw-ic">
                            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="ins-ic">
                            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                        </a>
                        <a class="pin-ic">
                            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!-- Copyright -->
        <div class="footer-copyright text-center py-1">© 2019 Copyright STINE
        </div>

    </footer>
{% endblock content %}